<div class="d-flex align-items-center py-3 px-2 px-sm-5">
    <div class="container text-center border p-3">
        <h1>{{dataType}}</h1>
        <div class="d-flex flex-column flex-sm-row mt-2">
            <label for="search-scheme" class="d-none d-sm-inline-block form-label align-self-center m-0"><b>Name:
                </b></label>
            <input list="scheme_list" type="text" #searchinput class="ms-sm-3 form-control"
                placeholder="Search {{dataType}}" id="search-scheme">
            <button class="btn btn-primary ms-0 mt-2 mt-sm-0 ms-sm-3" (click)="highlight()">Search</button>
        </div>
        <datalist id="scheme_list">
            <option *ngFor="let scheme of dlist; index as i" value="{{scheme.name}}">
        </datalist>
    </div>
    <div class="ms-sm-4 ms-1">
        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#addModal">Add
            {{dataType}}</button>
    </div>
</div>
<div class="m-2 p-4 border rounded">
    <h3>{{dataType}}</h3>
    <div id="viewer" class="d-flex flex-column flex-md-row align-items-stretch">
        <div class="overflow-auto flex-shrink-0">
            <ul class="nav flex-column list-group" id="v-tab" role="tablist" aria-orientation="vertical">
                <li *ngFor="let scheme of dlist; index as i" class="nav-link list-group-item"
                    [class.active]="selected == i" id="scheme-tab-{{i}}" data-bs-toggle="pill"
                    attr.data-bs-target="#scheme-{{i}}" type="button" role="tab" attr.aria-controls="scheme-{{i}}"
                    aria-selected="false">{{scheme.name}}</li>
            </ul>
        </div>
        <div class="tab-content border flex-grow-1 p-3 ms-md-3 mt-3 mt-md-0 overflow-auto" id="v-tabContent">
            <div *ngFor="let scheme of dlist; index as i" class="tab-pane fade" [class.show]="selected == i"
                [class.active]="selected == i" id="scheme-{{i}}" role="tabpanel" tabindex="0">{{scheme.description}}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" (ngSubmit)="addEntry()" #data="ngForm">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">{{dataType}}</h5>
                <button type="button" class="btn-close" #modalClose data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="entryname" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="entryname" name="name" ngModel>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="entryid" class="col-sm-3 col-form-label">ID</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="entryid" name="id" ngModel>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="entrydescription" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="entrydescription" rows="3" name="description"
                            ngModel></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="entryamount" class="col-sm-3 col-form-label">Amount</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="entryamount" name="amount" ngModel>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>