<div id="carouselExample" class="carousel slide overflow-hidden pointer-event" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div style="max-height: 50vh;" class="carousel-item">
      <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/02/50/63/71577e1cf59d802.jpg" class="d-block w-100" alt="img1">
      <div class="carousel-caption d-sm-block d-none">
        <h5>Doctor</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div style="max-height: 50vh;" class="carousel-item">
      <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/03/51/70/585791ffa147edc.jpg" class="d-block w-100" alt="img2">
      <div class="carousel-caption d-sm-block d-none">
        <h5>Patient</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div style="max-height: 50vh;" class="carousel-item active">
      <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/04/42/87/525852490664a65.jpg" class="d-block w-100" alt="img3">
      <div class="carousel-caption d-sm-block d-none">
        <h5>Admin</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row mx-3 mt-5">
  <div class="border p-4 col-md-8 overflow-auto">
    <form (ngSubmit)="onBooking()" #f="ngForm">
      <fieldset>
        <legend><h2><b>Book and Appointment</b></h2></legend>
        <div class="row mb-3">
          <label for="symptom" class="col-sm-2 col-form-label">Symptom</label>
          <div class="col-sm-10">
            <select class="form-select" id="symptom" name="symptom"  ngModel>
              <option selected="" disabled="">Select a Symptom</option>
              <option *ngFor="let sym of symptoms" value="{{sym}}">{{sym}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="speciality" class="col-sm-2 col-form-label">Speciality</label>
          <div class="col-sm-10">
            <select class="form-select" id="speciality" name="speciality" ngModel>
              <option disabled>Select a Speciality</option>
              <option *ngFor="let spl of speciality" value="{{spl}}">{{spl}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="doctor" class="col-sm-2 col-form-label">Doctor</label>
          <div class="col-sm-10">
            <select class="form-select" id="doctor" name="doctor" ngModel> 
            
              <option selected="" disabled="">Select a Doctor</option>
              <option *ngFor="let doc of doctors" value="{{doc}}">{{doc}}</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="day" class="col-sm-2 col-form-label">Day</label>
          <div class="col-sm-10">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <ng-container *ngFor="let d of days">
                  <input type="radio" class="btn-check" id="day-{{d}}" name="day" autocomplete="off">
                  <label class="btn btn-outline-dark" for="day-{{d}}">{{d}}</label>
                </ng-container>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="slot" class="col-sm-2 col-form-label">Time<wbr>slot</label>
          <div class="col-sm-10">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <ng-container *ngFor="let s of slots; index as i">
                <input type="radio" class="btn-check" id="slot-{{i}}" name="slot" autocomplete="off">
                <label class="btn btn-outline-dark" for="slot-{{i}}">{{s}}</label>
              </ng-container>
            </div>
          </div>
        </div>
        <input type="submit" class="btn btn-primary fs-5" value=" Book ">
      </fieldset>
    </form>
  </div>
  <div class="border p-4 col-md-4">
    <div class="container">
      <h3><b>Reports</b></h3>
      <div class="list-group">
        <a *ngFor="let r of reports" [routerLink]="r.url" class="list-group-item list-group-item-action">{{r.name}}</a>
      </div>
      <br>
      <a href="#" class="btn btn-warning float-end">Go to Profile</a>
    </div>
  </div>
</div>