<router-outlet></router-outlet>

<!-- <ng-container  *ngIf="route.children.length === 0">
</ng-container> -->
<div class="container mt-4" *ngIf="userType == 'patient' || userType == 'doctor'">
    <app-calendar></app-calendar>
    <div class="w-50 mt-3 bg-warning-subtle p-3 rounded" *ngIf="links.length > 0">
        <h3 class="mb-2">More Links:</h3>
        <div class="list-group">
            <a *ngFor="let opt of links" routerLink="{{opt.href}}" class="list-group-item list-group-item-action">{{opt.name}}</a>
        </div>
    </div>
</div>

<div class="container mt-4" *ngIf="userType == 'admin'">
    <div class="w-50 mt-3 bg-warning-subtle p-3 rounded">
        <h3 class="mb-2"><span *ngIf="userType != 'admin'">More </span>Links:</h3>
        <div class="list-group">
            <a *ngFor="let opt of links" routerLink="{{opt.href}}" class="list-group-item list-group-item-action">{{opt.name}}</a>
        </div>
    </div>
</div>