<app-carousel></app-carousel>
<div class="container mt-3">
    <div class="text-center my-4">
        <h1 class="fw-bold display-5">Welcome to Health+</h1>
    </div>
    <div class="container fs-5">
        <p>
            Welcome to <span class="fw-bold text-danger">Health+</span>, where we are committed to providing compassionate, patient-centered care to our community. With state-of-the-art
    facilities, advanced technology, and world-class medical professionals, we offer a wide range of healthcare services to meet the unique needs
    of each individual.
        </p>
        <p>
            At Health+, we understand that every patient is different, and that's why we prioritize a personalized approach to care. Our expert physicians,
nurses, and support staff work together to create a seamless experience, from diagnosis and treatment to aftercare and follow-up.
We offer a wide range of specialty services, including cardiology, neurology, oncology, orthopedics, and many others. Our team of highly trained
specialists utilizes the latest advancements in medical technology to provide patients with the best possible outcomes.
        </p>
        <p>
            At Health+, we believe that education is key to maintaining good health. That's why Welcome to Health+, where we are committed to providing 
compassionate, patient-centered care to our community. With state-of-the-art facilities, advanced technology, and world-class medical 
professionals, we offer a wide range of healthcare services to meet the unique needs of each individual.
        </p>
    </div>
    <hr>
    <div class="my-3 text-center">
        <h3>Get started</h3>
        <div class="d-flex justify-content-around">
            <a routerLink="/login" class="btn btn-lg btn-primary my-2 fs-4">&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</a>
            <a routerLink="/register" class="btn btn-lg btn-success my-2 fs-4">&nbsp;&nbsp;Register&nbsp;&nbsp;</a>
        </div>
    </div>
</div>