<div class="container-lg px-0 mb-5" style="max-width:1000px">
    <div class="container-fluid px-0">
        <div id="carouselExample" class="carousel slide overflow-hidden" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div style="max-height: 50vh;" class="carousel-item active">
                    <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/02/50/63/71577e1cf59d802.jpg"
                        class="d-block w-100" alt="img1">
                    <div class="carousel-caption d-sm-block d-none">
                        <h5>Doctor</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div style="max-height: 50vh;" class="carousel-item">
                    <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/03/51/70/585791ffa147edc.jpg"
                        class="d-block w-100" alt="img2">
                    <div class="carousel-caption d-sm-block d-none">
                        <h5>Patient</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div style="max-height: 50vh;" class="carousel-item">
                    <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/04/42/87/525852490664a65.jpg"
                        class="d-block w-100" alt="img3">
                    <div class="carousel-caption d-sm-block d-none">
                        <h5>Admin</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>

                            <form novalidate (ngSubmit)="onSignup()" #f="ngForm">
                                <div class="row">
                                    <div class="col">
                                        <label for="validationTooltip01" class="form-label">First name</label>
                                        <input type="text" class="form-control" id="validationTooltip01"
                                            value={{firstname}} required>
                                        <div class="valid-tooltip">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="validationTooltip02" class="form-label">Last name</label>
                                        <input type="text" class="form-control" id="validationTooltip02"
                                            value={{lastname}} required>
                                        <div class="valid-tooltip">
                                            Looks good!
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6 mb-4 d-flex align-items-center">

                                            <div class="form-outline datepicker w-100">
                                                <label for="birthday" class="col-sm-4 col-form-label">Birthday:</label>
                                                <input type="date" class="form-control" id="birthday" name="birthday">
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <h6 class="mb-2 pb-1">Gender: </h6>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="maleGender" value="option1" checked />
                                                <label class="form-check-label" for="maleGender">Male</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="femaleGender" value="option2" />
                                                <label class="form-check-label" for="femaleGender">Female</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="otherGender" value="option3" />
                                                <label class="form-check-label" for="otherGender">Other</label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputEmail" class="form-label">Email</label>
                                        <input type="text" class="form-control" id="inputEmail">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputNumber" class="form-label">Contact Number</label>
                                        <input type="number" class="form-control" id="inputNumber">
                                    </div>
                                    <div class="col-12">
                                        <label for="inputAddress" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="inputAddress"
                                            placeholder="1234 Main St">
                                    </div>
                                    <div class="col-12">
                                        <label for="inputAddress2" class="form-label">Address 2</label>
                                        <input type="text" class="form-control" id="inputAddress2"
                                            placeholder="Apartment, studio, or floor">
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-sm-7">
                                            <label for="validationServer03" class="form-label">City</label>
                                            <input type="text" class="form-control is-invalid" id="validationServer03"
                                                aria-describedby="validationServer03Feedback" required>
                                            <div id="validationServer03Feedback" class="invalid-feedback">
                                                Please provide a valid city.
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <label for="validationServer04" class="form-label">State</label>
                                            <select class="form-select is-invalid" id="validationServer04"
                                                aria-describedby="validationServer04Feedback" required>
                                                <option selected disabled value="">Choose...</option>
                                                <option>...</option>
                                            </select>
                                            <div id="validationServer04Feedback" class="invalid-feedback">
                                                Please select a valid state.
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <label for="validationServer05" class="form-label">Zip</label>
                                            <input type="text" class="form-control is-invalid" id="validationServer05"
                                                aria-describedby="validationServer05Feedback" required>
                                            <div id="validationServer05Feedback" class="invalid-feedback">
                                                Please provide a valid zip.
                                            </div>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <label for="doc_type" class="col-4  form-label select-label">Document Type:</label>
                                                <div class="col-6">
                                                    <select id="doc_type" class="form-select">
                                                        <option value="1" disabled>Choose option</option>
                                                        <option value="2">Aadhaar card</option>
                                                        <option value="3">Pan card</option>
                                                        <option value="4">Voter Id</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="row mb-6">
                                                <label for="inputverificationId"
                                                    class="col-sm-4 col-form-label">Verification ID:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="inputverificationId">
                                                </div>
                                            </div>
                                            <div class="mt-4 pt-2">
                                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>